:root {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.productImg {
    height: 250px;
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

.productName {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4; /* Độ cao mỗi dòng chữ */
  height: 62px;
  margin-bottom: 12px;

  /* Cấu hình cắt chữ tròn 2 dòng */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn đúng 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice{
  font-size: 18px;
  color: #ee4d2d;
  font-weight: 600;
}
